#include "kernel.config"
# base subset is the basic subset of all rootfs, ramdisk. 
#  - auto resize ext2 fs
BR2_TARGET_ROOTFS_EXT2_SIZE="60M"
#  - the basic fs-overlay, will copy to rootfs after all package built
BR2_ROOTFS_OVERLAY="board/common/base"
#  - the post build script will be excuted after all fs-overlay copyed
BR2_ROOTFS_POST_BUILD_SCRIPT="build/post.sh"
#  - we need to support various rootfs, cpio for ramdisk, ext2/4 for large system, squashfs for small system
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
#  - some people may wish to use their own modified BusyBox configuration file.
BR2_PACKAGE_BUSYBOX_CONFIG="board/common/base/busybox.config"
